body {
	background-color: #f0f8ff;
font-family: arial, sans-serif;
text-align: center;
color: #333;
}

nav a {
	margin: 0 10px;
	text-decoration: none;
	color: darkblue;
}
nav a:hover {
	color: red;
}

img {
	width: 800px;
	margin: 10px;
}